<div class="card">
  <div class="card-header">Renkler</div>
  <ul class="list-group list-group-flush">
    @if(dataLoaded){ @for(color of colors;track color.id){
    <li
      routerLink="/cars/color/{{ color.id }}"
      routerLinkActive="active"
      [ariaCurrentWhenActive]="true"
      class="list-group-item"
      role="button"
    >
      {{ color.name }}
    </li>
    } }@else {
    <li class="list-group-item placeholder-glow">
      <span class="placeholder col-12"></span>
    </li>
    <li class="list-group-item placeholder-glow">
      <span class="placeholder col-12"></span>
    </li>
    <li class="list-group-item placeholder-glow">
      <span class="placeholder col-12"></span>
    </li>
    <li class="list-group-item placeholder-glow">
      <span class="placeholder col-12"></span>
    </li>
    <li class="list-group-item placeholder-glow">
      <span class="placeholder col-12"></span>
    </li>
    }
  </ul>
</div>
