<nav class="navbar navbar-expand-md bg-body-tertiary p-md-4">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand d-flex align-items-center">
      <img
        src="../../../assets/logo.png"
        alt="Logo"
        height="40"
        id="logo"
        class="d-inline-block align-text-top object-fit-contain"
      />
      <img
        src="../../../assets/title.png"
        alt="Logo"
        height="30"
        id="logoTitle"
        class="d-inline-block align-text-top object-fit-contain"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ariaCurrentWhenActive="page"
            class="nav-link"
            >Ana Sayfa</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/cars"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ariaCurrentWhenActive="page"
            class="nav-link"
            >Arabalar</a
          >
        </li>
      </ul>
      <!-- <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Ara"
          aria-label="Ara"
        />
        <button class="btn btn-outline-primary" type="submit">Ara</button>
      </form> -->
      <input
        type="checkbox"
        role="switch"
        id="switchTheme"
        checked
        style="display: none"
      />
      <label for="switchTheme" class="shadow-sm"></label>
    </div>
  </div>
</nav>
