<nav class="navbar navbar-expand-md bg-body-tertiary p-md-4">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand d-flex align-items-center">
      <img
        src="../../../assets/logo.png"
        alt="Logo"
        height="40"
        id="logo"
        class="d-inline-block align-text-top object-fit-contain"
      />
      <img
        src="../../../assets/title.png"
        alt="Logo"
        height="30"
        id="logoTitle"
        class="d-inline-block align-text-top object-fit-contain"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item">
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ariaCurrentWhenActive="page"
            class="nav-link"
          >
            Ana Sayfa
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/cars"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ariaCurrentWhenActive="page"
            class="nav-link"
          >
            Arabalar
          </a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated">
          <a
            routerLink="/admin"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="nav-link"
            >Admin</a
          >
        </li>
      </ul>
      @if(!isAuthenticated){
      <div class="py-2">
        <button
          type="button"
          class="btn btn-outline-primary me-2"
          routerLink="/auth/login"
        >
          Giriş Yap
        </button>
        <button
          type="button"
          class="btn btn-primary"
          routerLink="/auth/register"
        >
          Kaydol
        </button>
      </div>
      }@else{
      <div class="dropdown py-2 user-select-none">
        <a
          class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          role="button"
        >
          {{ fullName }}
        </a>
        <ul class="dropdown-menu text-small">
          <li>
            <a class="dropdown-item" role="button" routerLink="/profile">
              Profil
            </a>
          </li>
          <li>
            <a class="dropdown-item" role="button" routerLink="/credit-cards">
              Kartlarım
            </a>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" role="button" (click)="logout()">
              Çıkış Yap
            </a>
          </li>
        </ul>
      </div>
      }
      <div class="vr mx-2 align-middle"></div>
      <div class="py-2">
        <input
          type="checkbox"
          role="switch"
          id="switchTheme"
          checked
          style="display: none"
        />
        <label for="switchTheme" class="shadow-sm"></label>
      </div>
    </div>
  </div>
</nav>
