<div class="d-flex justify-content-center mb-3">
  <button
    routerLink="cars"
    routerLinkActive="active"
    class="btn btn-outline-primary me-2"
  >
    Arabalar
  </button>
  <button
    routerLink="brands"
    routerLinkActive="active"
    class="btn btn-outline-primary me-2"
  >
    Markalar
  </button>
  <button
    routerLink="colors"
    routerLinkActive="active"
    class="btn btn-outline-primary"
  >
    Renkler
  </button>
</div>
<router-outlet />
<app-scroll-top></app-scroll-top>
