<h3>Kiralamalar</h3>
@if(dataLoaded){
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Marka</th>
        <th>Müşteri Ad Soyad</th>
        <th>Alış Tarihi</th>
        <th>Veriş Tarihi</th>
      </tr>
    </thead>
    <tbody>
      @for(rental of rentals; track rental.id){
      <tr>
        <td>{{ rental.id }}</td>
        <td>{{ rental.brandName }}</td>
        <td>{{ rental.customerFullName }}</td>
        <td>{{ rental.rentDate }}</td>
        <td>{{ rental.returnDate }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
}@else {
<div class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
}
