<button class="btn btn-primary mb-3 w-100" routerLink="/cars/add">
  Araba Ekle
</button>
@if(dataLoaded){
<div class="table-responsive">
  <table class="table align-middle">
    <thead>
      <tr>
        <th class="w-75">Arabalar</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      @for (carDetail of carDetails; track carDetail.id) {
      <tr>
        <td>{{ carDetail.brandName }} {{ carDetail.carName }}</td>
        <td class="text-end">
          <button
            class="btn btn-warning btn-sm"
            routerLink="/cars/edit/{{ carDetail.id }}"
          >
            Düzenle
          </button>
        </td>
        <td class="text-end">
          <button
            class="btn btn-danger btn-sm"
            data-bs-toggle="modal"
            [attr.data-bs-target]="'#deleteCarModal' + carDetail.id"
          >
            Sil
          </button>
        </td>
      </tr>

      <!-- Modal -->
      <div
        class="modal fade"
        [id]="'deleteCarModal' + carDetail.id"
        tabindex="-1"
        aria-labelledby="deleteCarModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="deleteCarModalLabel">
                Araba silinsin mi?
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <p>
                {{ carDetail.brandName }} {{ carDetail.carName }} silinsin mi?
              </p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                İptal
              </button>
              <button
                type="button"
                class="btn btn-primary"
                (click)="deleteCar(carDetail)"
                data-bs-dismiss="modal"
              >
                Sil
              </button>
            </div>
          </div>
        </div>
      </div>
      }
    </tbody>
  </table>
</div>
<div class="text-body-secondary">Toplam {{ carDetails.length }} araba var</div>
}@else {
<div class="table-responsive">
  <table class="table align-middle">
    <thead>
      <tr>
        <th class="w-75">Arabalar</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="placeholder-glow">
          <span class="placeholder col-12"></span>
        </td>
        <td class="placeholder-glow text-end">
          <button class="btn btn-warning btn-sm disabled placeholder">
            Düzenle
          </button>
        </td>
        <td class="placeholder-glow text-end">
          <button class="btn btn-danger btn-sm disabled placeholder">
            Sil
          </button>
        </td>
      </tr>
      <tr>
        <td class="placeholder-glow">
          <span class="placeholder col-12"></span>
        </td>
        <td class="placeholder-glow text-end">
          <button class="btn btn-warning btn-sm disabled placeholder">
            Düzenle
          </button>
        </td>
        <td class="placeholder-glow text-end">
          <button class="btn btn-danger btn-sm disabled placeholder">
            Sil
          </button>
        </td>
      </tr>
      <tr>
        <td class="placeholder-glow">
          <span class="placeholder col-12"></span>
        </td>
        <td class="placeholder-glow text-end">
          <button class="btn btn-warning btn-sm disabled placeholder">
            Düzenle
          </button>
        </td>
        <td class="placeholder-glow text-end">
          <button class="btn btn-danger btn-sm disabled placeholder">
            Sil
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
}
