<!-- <div class="container">
  <app-navi></app-navi>
  <div class="row">
    <div class="col">
      <app-brand></app-brand>
    </div>
    <div class="col">
      <app-color></app-color>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-customer></app-customer>
    </div>
    <div class="col">
      <app-car></app-car>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-rental></app-rental>
    </div>
    <div class="col">
      <app-user></app-user>
    </div>
  </div>
  <router-outlet />
</div> -->

<app-navi></app-navi>
<div class="container">
  <div class="row my-4">
    <div class="col-md-3">
      <app-filter></app-filter>
    </div>
    <div class="col-md-9">
      <div class="row">
        <router-outlet />
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
