<div class="card">
  <div class="card-header">
    <h5 class="card-title m-0">Rol Ekle</h5>
  </div>
  <div class="card-body">
    <form [formGroup]="addRoleForm" (ngSubmit)="addRoleForm.valid && addRole()">
      <div class="mb-3">
        <label for="roleName" class="form-label">Rol adı</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              addRoleForm.get('name')?.invalid &&
              addRoleForm.get('name')?.touched
          }"
          id="roleName"
          formControlName="name"
          required
        />
        <div
          *ngIf="
            addRoleForm.get('name')?.invalid && addRoleForm.get('name')?.touched
          "
          class="invalid-feedback"
        >
          Rol adı boş bırakılamaz
        </div>
      </div>
      <button class="btn btn-primary" [disabled]="addRoleForm.invalid">
        Ekle
      </button>
    </form>
  </div>
</div>
