@if(dataLoaded && carsDetail.length > 0){
<div class="album">
  <input
    [(ngModel)]="filterText"
    class="form-control mb-2"
    type="search"
    placeholder="Ara"
    aria-label="Ara"
  />
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    @for(car of carsDetail | carFilter: filterText; track car.id){
    <div class="col" title="{{ car.brandName }} {{ car.carName }}">
      <div class="card shadow-sm">
        <img
          [src]="thumbnailImage[car.id]"
          class="card-img-top object-fit-contain"
          alt="{{ car.brandName }} {{ car.carName }}"
          width="100%"
          height="225"
        />
        <div class="card-body bg-body-tertiary">
          <p
            class="card-subtitle border border-primary-subtle bg-primary-subtle text-primary-emphasis px-2"
          >
            {{ car.modelYear }}
          </p>
          <h5 class="card-title text-truncate">
            {{ car.brandName }} {{ car.carName }}
          </h5>
          <p class="card-text text-primary-emphasis">
            {{ car.dailyPrice | currency : "TRY" : "symbol" : "0.0-2" : "tr" }}
            <span> / Gün</span>
          </p>
          <a
            routerLink="/car/{{ car.id }}"
            class="btn btn-primary stretched-link"
            >Detaylar</a
          >
        </div>
      </div>
    </div>
    }
  </div>
</div>
} @else if(dataLoaded && carsDetail.length == 0){
<div class="alert alert-danger" role="alert">
  Araba bulunamadı. <a routerLink="/" class="alert-link">Ana sayfa</a>ya dön.
</div>
} @else {
<div class="album">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      @for(i of fakeArray; track i){
      <div class="col">
        <div class="card shadow-sm" aria-hidden="true">
          <svg
            class="bd-placeholder-img card-img-top placeholder"
            width="100%"
            height="225"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#868e96"></rect>
          </svg>
          <div class="card-body bg-body-tertiary">
            <h5 class="card-title placeholder-glow">
              <span class="placeholder col-6"></span>
            </h5>
            <p class="card-text placeholder-glow">
              <span class="placeholder col-7"></span>
              <span class="placeholder col-4"></span>
              <span class="placeholder col-4"></span>
              <span class="placeholder col-6"></span>
              <span class="placeholder col-8"></span>
            </p>
            <a
              class="btn btn-primary disabled placeholder col-6"
              aria-disabled="true"
            ></a>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
}
